.regnew
  .regnew__container
    .regnew__container__box
      .regnew_container__box__symbol
        %a.image
        = link_to image_tag("logo.png", size: '185x50'), root_path

.reglogin
  .reglogin__container
    .reglogin__container__title
      ログインページだよ！！！
    = form_for resource, as: resource_name, url: user_session_path, class: "reglogin__container__form" do |f|
      .reglogin__container__form__fields
        .reglogin__container__form__fields__field
          .category
            %label(for="")
              メールアドレス          
            .input-defaults
              = f.email_field :email, placeholder: "", class: "input-defaults__default"
        .reglogin__container__form__fields__field
          .category
            %label(for="")
              パスワード          
            .input-defaults
              = f.password_field :password, placeholder: "", class: "input-defaults__default"      
        .reglogin__container__form__fields__field
          .category
            %label(for="")
              パスワード(確認)
            .input-defaults
              = f.password_field :password_confirmation, placeholder: "", class: "input-defaults__default" 
          %span.form-info-text                
            %br 
          .reglogin__container__form__fields__field            
            .reglogin__container__form__fields__field__select            
            = f.submit "ログインする", class:"reglogin__container__form__fields__field__submit"            
            .reglogin__container__form__fields__field__select
              .reglogin__container__form__fields__field__select__reg
                本人情報の登録について
                %i.fas.fa-chevron-right

