=render "header"

.topbody__box__below
  .topbody__box__below__search
    .topbody__box__below__search__category             
      = link_to "カテゴリー"             
      = link_to "ブランド"
  =render "headbottom"
%nav.mypagehed2
  %ul.mypagehed2-list
    %li.mypagehed2-list-item 
      = link_to root_path, class:"headmine" do
        フリマ
        %i.fas.fa-angle-right
    %li.mypagehed2-list-item 
      = link_to users_path, class:"headmine" do
        マイページ
        %i.fas.fa-angle-right
    %li.mypagehed2-list-item 
      = link_to new_credit_card_path, class:"headminenow" do
        支払い方法

.mypagemain
  = render "headmypageleft"
  .contentcash
    %section.contentcash-top
      %h2.contentcash-top-head 支払い方法
      .contentcash-top-inner
        %section
          .contentcash-top-inner-content
            %h3.contentcash-top-inner-content-head クレジットカード一覧
          %ul.settings-payment-list
        %section.contentcash-top-inner-add
          .contentcash-top-inner-add-cash
            = link_to new_credit_card_path, class:"cashbtn-default cashbtn-red cashsubmit_button " do
              %i.fa.fa-credit-card
              クレジットカードを追加する
            
        .contentcash-top-inner-regist  
          = link_to root_path do
            %i.fa.fa-angle-right
            支払い方法について
        