=render "header"

.topbody__box__below
  .topbody__box__below__search
    .topbody__box__below__search__category             
      = link_to "カテゴリー"             
      = link_to "ブランド"
  %nav.mypagehed-right
    %ul.main-header-user-nav 
      %li
        .main-header-menu-link
          %i.fas.fa-heart
          %span いいね!一覧
      %li
        .main-header-menu-link
          %i.fa.fa-bell
          %span お知らせ
      %li
        .main-header-menu-link
          %i.fa.fa-check
          %span やることリスト
      %li
        .main-header-menu-link
          = link_to "マイページ",root_path, class: "decoration-none" 
%nav.mypagehed2
  %ul.mypagehed2-list
    %li.mypagehed2-list-item 
      = link_to root_path, class:"headmine" do
        メルカリ
        %i.fas.fa-angle-right
    %li.mypagehed2-list-item 
      = link_to users_path, class:"headmine" do
        マイページ
        %i.fas.fa-angle-right
    %li.mypagehed2-list-item 
      = link_to credit_cards_path, class:"headmine" do
        支払い方法
        %i.fas.fa-angle-right
    %li.mypagehed2-list-item
      = link_to new_credit_card_path, class:"headminenow" do
        クレジットカード情報入力

.mypagemain
  .mypagemain-left
    %nav.mypage-nav
      %ul.mypage-nav-list 
        %li.mypage-nav-list-item 
          マイページ
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          お知らせ
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          やることリスト
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          いいね！一覧
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item
          = link_to new_item_path, class:"content" do  
            出品する
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          下書き一覧
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          出品した商品-出品中
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          出品した商品-取引中
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          出品した商品-売却済み
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item 
          = link_to about_credit_cards_path, class:"content" do 
            購入した商品-取引中
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          購入した商品-過去の取引
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          ニュース一覧
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          評価一覧
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          ガイド
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          お問い合わせ
          %i.fas.fa-angle-right
      %h3.mypage-nav-head メルペイ
      %ul.mypage-nav-list 
        %li.mypage-nav-list-item  
          売上・振込申請
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          ポイント
          %i.fas.fa-angle-right
      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list 
        %li.mypage-nav-list-item  
          プロフィール
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          発送元・お届け先住所変更
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          = link_to new_credit_card_path, class:"content" do
            支払い方法
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          メール/パスワード
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          本人情報
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          電話番号の確認
          %i.fas.fa-angle-right
        %li.mypage-nav-list-item  
          = link_to logouts_show_path, class:"content" do
            ログアウト
          %i.fas.fa-angle-right
  .newcredit-right
    %section.newcredit-right-cash
      %h2.newcredit-right-cash-head クレジットカード情報入力
      .newcredit-right-cash-list
        = form_for @CreditCard do |form| 
          .new-paynumber
            %label.new-paynumber-numbers カード番号
            %span.new-paynumber-mark 必須
            = form.text_field :card_number, placeholder: "半角数字のみ"
            %ul.newpaycardlist
              %li Visa
              %li Master
              %li JCB
          .new-payexpiration
            %label.new-payexpiration-numbers 有効期限
            %span.new-payexpiration-mark 必須
            %br
            .new-payexpiration-list
              .new-payexpiration-list-lists
                = form.select :expriation_month, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
                %span 月
              .new-payexpiration-list-lists
                = form.select :expriation_year, ['21', '22', '23', '24', '25', '26', '27', '28', '29', '30']
                %span 年
          .new-paysecurity
            %label.new-paysecurity-numbers セキュリティコード
            %span.new-paysecurity-mark 必須
            = form.text_field :seculity_code, placeholder: "カード背面4桁もしくは3桁の番号"
            .new-paysecurity-point
              .new-paysecurity-point-text
                %span カード裏面の番号とは？
              .new-paysecurity-point-info
              = form.submit "追加する" , { :class => 'submit-btn' }
        
= render "footer"