=render "header"

.topbody__box__below
  .topbody__box__below__search
    .topbody__box__below__search__category             
      = link_to "カテゴリー"             
      = link_to "ブランド"
  =render "headbottom"
%nav.mypagehed2
  %ul.mypagehed2-list
    %li.mypagehed2-list-item 
      = link_to item_path(:id), class:"headmine" do
        フリマ
        %i.fas.fa-angle-right
    %li.mypagehed2-list-item 
      = link_to users_path, class:"headmine" do
        マイページ
        %i.fas.fa-angle-right
    %li.mypagehed2-list-item 
      = link_to credit_cards_path, class:"headmine" do
        支払い方法
        %i.fas.fa-angle-right
    %li.mypagehed2-list-item
      = link_to new_credit_card_path, class:"headminenow" do
        クレジットカード情報入力

.mypagemain
  = render "headmypageleft"

  .newcredit-right
    %section.newcredit-right-cash
      %h2.newcredit-right-cash-head クレジットカード情報入力
      .newcredit-right-cash-list
        .new-paynumber
          = form_with url: credit_cards_path, method: :post, html: { name: "inputForm", id: "card_token" } do |f|
            = f.label :カード番号, class: "new-paynumber-numbers" 
            %span.new-paynumber-mark 必須
            %input.new-paynumber_zuuzi#card_number{type: "text", placeholder: "半角数字のみ"}
            %ul.newpaycardlist
              = image_tag src="VISA.png" , size: "45x18"
              = image_tag src="master.png" , size: "45x18"
              = image_tag src="jcb.png" , size: "45x18"
            .new-payexpiration
              = f.label :有効期限, class:"new-payexpiration-numbers"
              %span.new-payexpiration-mark 必須
              %br
              .new-payexpiration-list
                .new-payexpiration-list-lists
                  = f.select :exp_month,[["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],class:"new-payexpiration-list-lists_month"
                  %span 月
                .new-payexpiration-list-lists
                  = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],class:"new-payexpiration-list-lists_year"
                  %span 年
            .new-paysecurity
              = f.label :セキュリティコード, class:"new-paysecurity-numbers"
              %span.new-paysecurity-mark 必須
              = f.text_field :seculity_code, placeholder: "カード背面4桁もしくは3桁の番号",class: "new-paysecurity_zuuzi"
              .new-paysecurity-point
                .new-paysecurity-point-text
                  %span カード裏面の番号とは？
                .new-paysecurity-point-info
                #card_token
                = f.submit '追加する', class:"new-paysecurity-point-btn",id:"new-paysecurity-point-btn"

= render "footer"