.foot
  .footer
    .footer__image
      .footer__image__decorate
        .footer__image__decorate__left
          .footer__image__decorate__left__upper
            スマホでかんたんフリマアプリ
          .footer__image__decorate__left__middle
            今すぐ無料ダウンロード！
          .footer__image__decorate__left__below
            = link_to 'https://apps.apple.com/jp/app/id667861049?l=ja', class: "appstore" do
              = image_tag 'appstore.svg', size: '170x52'
            = link_to 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class: "googleplay" do
              = image_tag 'googleplay.svg', size: '170x52'
        .footer__image__decorate__right
    .footer__box
      .footer__box__upper
        .footer__box__upper__1
          %b FURIMAについて
          = link_to "" do
            %p 会社概要（運営会社）
          = link_to "" do
            %p プライバシーポリシー
          = link_to "" do
            %p FURIMA利用規約
          = link_to "" do
            %p ポイントに関する特約
        
        .footer__box__upper__2
          %b FURIMAを見る
          = link_to "" do
            %p カテゴリー一覧
          = link_to "" do
            %p ブランド一覧
          
        .footer__box__upper__3
          %b ヘルプ＆ガイド
          = link_to "" do
            %p FURIMAガイド
          = link_to "" do
            %p FURIMAロゴ利用ガイドライン
          = link_to "" do
            %p お知らせ
      .footer__box__below
        .footer__box__below__1
          = link_to image_tag("logo-white.png", size: '700x36')          
        .footer__box__below__2
        .footer__box__below__3
          © FURIMA
                