.highspace 
  - if user_signed_in? 
    .highspace__opening
      %a 出品する
      =link_to new_item_path do
        %i.fas.fa-camera
  .highspace__area__choice
    .highspace__area__choice__find
      .highspace__area__choice__find__type             
        = link_to "カテゴリー"             
        = link_to "ブランド"
    .highspace__area__choice__people
      .highspace__area__choice__people__lineup
        - if user_signed_in?
          .highspace__area__choice__people__lineup__gate
            = link_to "フリマ", root_path, class: "member_right"
          = link_to "マイページ", users_path, class: "newreg"
        - else
          .highspace__area__choice__people__lineup__gate
            = link_to "ログイン", root_path, class: "member_right"
          = link_to "新規会員登録", root_path, class: "newreg"
  
  %nav.breadCrumbs
    %ul.breadCrumbs__list
      %li.breadCrumbs__list__item 
        = link_to root_path, class:"content" do
          FURIMA
          %i.fas.fa-angle-right
      %li.breadCrumbs__list__item 
        = link_to root_path, class:"content" do
          ベビー・キッズ
          %i.fas.fa-angle-right
      %li.breadCrumbs__list__item 
        = link_to root_path, class:"content" do
          ベビー服(男女兼用) ~95cm
          %i.fas.fa-angle-right
      %li.breadCrumbs__list__item 
        = link_to root_path, class:"content" do
          アウター
          %i.fas.fa-angle-right
      %li.breadCrumbs__list__item 
        %p=@item.name
  
  .main
    .main__whole
      .main__whole__center
        .main__whole__center__box
          .main__whole__center__box__content
            %h2.main__whole__center__box__content__name
              %p=@item.name
            .main__whole__center__box__content__list
              %ul
                %li
                  = image_tag (@item.images.first.url.url.to_s)
                  %ul
                    %li
                      = image_tag (@item.images.first.url.url.to_s)
                    %li
                      -# = image_tag @item.images.second.url.url.to_s
                    %li
                      -# = image_tag @item.images.third.url.url.to_s
            .main__whole__center__box__content__price
              %span 
                ¥
                = @item.price
              .main__whole__center__box__content__price-detail
                %p1
                  = "(税込)"
                %p1
                  = "送料込み"
            .main__whole__center__box__content__description
              =@item.introduction
            .main__whole__center__box__content__table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td
                      =@item.user.nickname
                  %tr
                    %th カテゴリー
                    %td
                      = link_to root_path, class:"" do
                        ベビー・キッズ
                      = link_to root_path, class:"" do
                        ベビー服(男女兼用)  ~95cm
                      = link_to root_path, class:"" do
                        アウター
                    %tr
                      %th ブランド
                      %td=@item.brand_id
                    %tr
                      %th 商品のサイズ
                      %td
                    %tr
                      %th 商品の状態
                      %td=@item.item_condition
                    %tr
                      %th 配送料の負担
                      %td=@item.trading_status
                    %tr
                    %th 発送元の地域
                    %td
                      = link_to root_path, class:"" do
                        =@item.shipping_area
                    %tr
                      %th 発送日の目安
                      %td 4-7日で発送
              .main__whole__center__box__content__optionalzone
                %ul
                  %li.main__whole__center__box__content__optionalzone__like-Btn
                    %i.fa.fa-star
                    %textお気に入り 0
                %ul
                  %li.main__whole__center__box__content__optionalzone__out-Btn
                    = link_to root_path, class:"" do
                      %i.fa.fa-flag
                      %text不適切な商品の通報
          - if user_signed_in?&& current_user.id == @item.user_id
            .sssss
              =link_to edit_item_path , class:"sjhnk" do
                編集する
              %p.sffg
                =link_to item_path , class:"sjhnk"  ,method: :delete do
                  削除する
              

          .main__whole__center__comment-room
            %ul.main__whole__center__comment-room__Contents
            %form.main__whole__center__comment-room__Contents__new-comment{"accept-charset": "UTF-8", action: "#", method: "post"}
              %input{name: "utf8", type: "hidden", value: "✓"}/
              %input{name: "authenticity_token", type: "hidden", value: "z7Qut4WXQ3mF3zKKLKZrd1Fn+L/Qvfjm2htA/nurRRIj6zbRfEQ5aPKt2pDDScEFgn+UVEEZ7t0WPSCFBEH9WA=="}/
              %textarea.main__whole__center__comment-room__Contents__new-comment__comment-body{name: "comment[body]", required: "required"}
              %p.main__whole__center__comment-room__Contents__new-comment__noticeMsg
                相手のことを考え丁寧なコメントを心がけましょう。
                %br/
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br/
              %button.main__whole__center__comment-room__Contents__new-comment__commentBtn{name: "button", type: "submit"}
                %i.fa.fa-comment
                コメントする
          
          %ul.main__whole__center__links
            %li.main__whole__center__links__f
              = link_to root_path, class:"" do
                %i.fa.fa-angle-left
                %span 前の商品
            %li.main__whole__center__links__r
              = link_to root_path, class:"" do
                %span 後ろの商品
                %i.fas.fa-angle-right

          .main__whole__center__relatedItems
            = link_to root_path, class:"" do
              ベビー・キッズをもっと見る
            .main__whole__center__relatedItems__productLists
            %after.main__whole__center__relatedItems__relatedItems
