.wrapper
  .header-wrapper
    .header
      .header__box
        .header__box__upper
          .header__box__upper__title
            = link_to image_tag("logo.png", size: '140x40'), root_path
          .header__box__upper__form
            .header__box__upper__form__field
              = form_tag(root_path, local: true, method: :get) do |f|
                = text_field_tag :keyword, "", class: 'top.header__box__upper__form__field', placeholder: 'キーワードから探す'
                .header__box__upper__form__field__point
                  = button_tag type: 'submit', name: nil do
                    .header__box__upper__form__field__point__button
                      = image_tag("icon-search 1.png", size: '19x19')
            .header__box__upper__form__icon
        .header__box__below
          .header__box__below__search
            .header__box__below__search__category             
              = link_to "カテゴリー"             
              = link_to "ブランド"
          .header__box__below__users
            .header__box__below__users__member
              .header__box__below__users__member__left
              .header__box__below__users__member__right
                = link_to "ログイン", root_path, class: "member_right"
              = link_to "新規会員登録", root_path, class: "newreg"
              
    .exhibition
      %a出品する
      %i.fas.fa-camera

.body
  .body__image
    .body__image__photos
      .body__image__photos__text
        %b1 人生を変える
        %b2 フリマアプリ
        %b3 FURIMAはだれでもかんたんに出品・購入できる
        %b4 フリマアプリです
      .body__image__photos__stores
        = link_to 'https://apps.apple.com/jp/app/id667861049?l=ja', class: "appstore" do
          = image_tag 'appstore.svg', size: '170x52'
        = link_to 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class: "googleplay" do
          = image_tag 'googleplay.svg', size: '520x52'
        
  .body__reasons
    .body__reasons__subtitle
      FURIMAが選ばれる3つの理由
    %ul.body__reasons__lists
      %li.body__reasons__lists__list
        .body__reasons__lists__list__photo
          .body__reasons__lists__list__photo__number
            1
          = image_tag "pict-reason-01.jpg", height: '300px', width: '300px'
        .body__reasons__lists__list__text
          %span
            ３分
          #text
            ですぐに出品
        %p.body__reasons__lists__list__comment
          スマホで入力するだけで簡単に出品できる！
      %li.body__reasons__lists__list
        .body__reasons__lists__list__photo
          .body__reasons__lists__list__photo__number
            2
          = image_tag "pict-reason-02.jpg", height: '300px', width: '300px'
        .body__reasons__lists__list__text
          %span 
            シンプル
          #text
            で使いやすい
        %p.body__reasons__lists__list__comment
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.body__reasons__lists__list
        .body__reasons__lists__list__photo
          .body__reasons__lists__list__photo__number
            3
          = image_tag "pict-reason-03.jpg", height: '300px', width: '300px'
        .body__reasons__lists__list__text
          %span 
            手数料
          #text
            業界最安値
        %p.body__reasons__lists__list__comment
          最大３%でお得に出品&購入！

  .body__ads
    .body__ads__bl
      .body__ads__bl__title
        会員数日本一
      .body__ads__bl__text
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です! 
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .body__ads__bl__btn
        = link_to 'https://apps.apple.com/jp/app/id667861049?l=ja', class: "appstore" do
          = image_tag 'appstore.svg', size: '170x52'
        = link_to 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class: "googleplay" do
          = image_tag 'googleplay.svg', size: '170x52'
        

  .body__point
    .body__point__title
      FURIMAの特徴
    .body__point__indexes
      .body__point__indexes__index
        = image_tag("icon-01.png", size: "184x270")
        .body__point__indexes__index__sub
          簡単に売り買いできる
        .body__point__indexes__index__comment
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .body__point__indexes__index
        = image_tag("icon-03.png", size: "184x270")
        .body__point__indexes__index__sub
          売上金は即日振込みに対応
        .body__point__indexes__index__comment
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      .body__point__indexes__index
        = image_tag("icon-04.png", size: "184x270")
        .body__point__indexes__index__sub
          様々な支払いに対応
        .body__point__indexes__index__comment
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .body__pickup
    .body__pickup__title
      ピックアップカテゴリー
    .body__pickup__indexes
      .body__pickup__indexes__sub
        新規投稿商品
      .body__pickup__indexes__categories
        .body__pickup__indexes__categories__category
          = image_tag("egg.png", size: "184x184")
          .body__pickup__indexes__categories__category__lists
            .body__pickup__indexes__categories__category__lists__name
              魅惑的な白身魚
            .body__pickup__indexes__categories__category__lists__datas
              %ul.body__pickup__indexes__categories__category__lists__datas__data
                %li.body__pickup__indexes__categories__category__lists__datas__data__price
                  20,000円
                %li.body__pickup__indexes__categories__category__lists__datas__data__likes
                  %li.body__pickup__indexes__categories__category__lists__datas__data__likes__like
                    %i.fas.fa-star 
                      0
              %p.body__pickup__indexes__categories__category__lists__datas__data__tax
                税込
        .body__pickup__indexes__categories__category
          = image_tag("egg.png", size: "184x184")
          .body__pickup__indexes__categories__category__lists
            .body__pickup__indexes__categories__category__lists__name
              魅惑的な白身魚
            .body__pickup__indexes__categories__category__lists__datas
              %ul.body__pickup__indexes__categories__category__lists__datas__data
                %li.body__pickup__indexes__categories__category__lists__datas__data__price
                  20,000円
                %li.body__pickup__indexes__categories__category__lists__datas__data__likes
                  %li.body__pickup__indexes__categories__category__lists__datas__data__likes__like
                    %i.fas.fa-star 
                      0
              %p.body__pickup__indexes__categories__category__lists__datas__data__tax
                税込
        .body__pickup__indexes__categories__category
          = image_tag("egg.png", size: "184x184")
          .body__pickup__indexes__categories__category__lists
            .body__pickup__indexes__categories__category__lists__name
              魅惑的な白身魚
            .body__pickup__indexes__categories__category__lists__datas
              %ul.body__pickup__indexes__categories__category__lists__datas__data
                %li.body__pickup__indexes__categories__category__lists__datas__data__price
                  20,000円
                %li.body__pickup__indexes__categories__category__lists__datas__data__likes
                  %li.body__pickup__indexes__categories__category__lists__datas__data__likes__like
                    %i.fas.fa-star 
                      0
              %p.body__pickup__indexes__categories__category__lists__datas__data__tax
                税込 
      
      .body__pickup__indexes__categories
        .body__pickup__indexes__categories__category
          = image_tag("egg.png", size: "184x184")
          .body__pickup__indexes__categories__category__lists
            .body__pickup__indexes__categories__category__lists__name
              魅惑的な白身魚
            .body__pickup__indexes__categories__category__lists__datas
              %ul.body__pickup__indexes__categories__category__lists__datas__data
                %li.body__pickup__indexes__categories__category__lists__datas__data__price
                  20,000円
                %li.body__pickup__indexes__categories__category__lists__datas__data__likes
                  %li.body__pickup__indexes__categories__category__lists__datas__data__likes__like
                    %i.fas.fa-star 
                      0
              %p.body__pickup__indexes__categories__category__lists__datas__data__tax
                税込          
        .body__pickup__indexes__categories__category
          = image_tag("egg.png", size: "184x184")
          .body__pickup__indexes__categories__category__lists
            .body__pickup__indexes__categories__category__lists__name
              魅惑的な白身魚
            .body__pickup__indexes__categories__category__lists__datas
              %ul.body__pickup__indexes__categories__category__lists__datas__data
                %li.body__pickup__indexes__categories__category__lists__datas__data__price
                  20,000円
                %li.body__pickup__indexes__categories__category__lists__datas__data__likes
                  %li.body__pickup__indexes__categories__category__lists__datas__data__likes__like
                    %i.fas.fa-star 
                      0
              %p.body__pickup__indexes__categories__category__lists__datas__data__tax
                税込
        .body__pickup__indexes__categories__category
          = image_tag("egg.png", size: "184x184")
          .body__pickup__indexes__categories__category__lists
            .body__pickup__indexes__categories__category__lists__name
              魅惑的な白身魚
            .body__pickup__indexes__categories__category__lists__datas
              %ul.body__pickup__indexes__categories__category__lists__datas__data
                %li.body__pickup__indexes__categories__category__lists__datas__data__price
                  20,000円
                %li.body__pickup__indexes__categories__category__lists__datas__data__likes
                  %li.body__pickup__indexes__categories__category__lists__datas__data__likes__like
                    %i.fas.fa-star 
                      0
              %p.body__pickup__indexes__categories__category__lists__datas__data__tax
                税込

  .body__pickup
    .body__pickup__title
      ピックアップブランド
    .body__pickup__indexes
      .body__pickup__indexes__sub
        アーカイバ
      .body__pickup__indexes__categories
        .body__pickup__indexes__categories__category
          = image_tag("egg.png", size: "184x184")
          .body__pickup__indexes__categories__category__lists
            .body__pickup__indexes__categories__category__lists__name
              魅惑的な白身魚
            .body__pickup__indexes__categories__category__lists__datas
              %ul.body__pickup__indexes__categories__category__lists__datas__data
                %li.body__pickup__indexes__categories__category__lists__datas__data__price
                  20,000円
                %li.body__pickup__indexes__categories__category__lists__datas__data__likes
                  %li.body__pickup__indexes__categories__category__lists__datas__data__likes__like
                    %i.fas.fa-star 
                      0
              %p.body__pickup__indexes__categories__category__lists__datas__data__tax
                税込
        .body__pickup__indexes__categories__category
          = image_tag("egg.png", size: "184x184")
          .body__pickup__indexes__categories__category__lists
            .body__pickup__indexes__categories__category__lists__name
              魅惑的な白身魚
            .body__pickup__indexes__categories__category__lists__datas
              %ul.body__pickup__indexes__categories__category__lists__datas__data
                %li.body__pickup__indexes__categories__category__lists__datas__data__price
                  20,000円
                %li.body__pickup__indexes__categories__category__lists__datas__data__likes
                  %li.body__pickup__indexes__categories__category__lists__datas__data__likes__like
                    %i.fas.fa-star 
                      0
              %p.body__pickup__indexes__categories__category__lists__datas__data__tax
                税込
        .body__pickup__indexes__categories__category
          = image_tag("egg.png", size: "184x184")
          .body__pickup__indexes__categories__category__lists
            .body__pickup__indexes__categories__category__lists__name
              魅惑的な白身魚
            .body__pickup__indexes__categories__category__lists__datas
              %ul.body__pickup__indexes__categories__category__lists__datas__data
                %li.body__pickup__indexes__categories__category__lists__datas__data__price
                  20,000円
                %li.body__pickup__indexes__categories__category__lists__datas__data__likes
                  %li.body__pickup__indexes__categories__category__lists__datas__data__likes__like
                    %i.fas.fa-star 
                      0
              %p.body__pickup__indexes__categories__category__lists__datas__data__tax
                税込
      .body__pickup__indexes__categories
        .body__pickup__indexes__categories__category
          = image_tag("egg.png", size: "184x184")
          .body__pickup__indexes__categories__category__lists
            .body__pickup__indexes__categories__category__lists__name
              魅惑的な白身魚
            .body__pickup__indexes__categories__category__lists__datas
              %ul.body__pickup__indexes__categories__category__lists__datas__data
                %li.body__pickup__indexes__categories__category__lists__datas__data__price
                  20,000円
                %li.body__pickup__indexes__categories__category__lists__datas__data__likes
                  %li.body__pickup__indexes__categories__category__lists__datas__data__likes__like
                    %i.fas.fa-star 
                      0
              %p.body__pickup__indexes__categories__category__lists__datas__data__tax
                税込          
        .body__pickup__indexes__categories__category
          = image_tag("egg.png", size: "184x184")
          .body__pickup__indexes__categories__category__lists
            .body__pickup__indexes__categories__category__lists__name
              魅惑的な白身魚
            .body__pickup__indexes__categories__category__lists__datas
              %ul.body__pickup__indexes__categories__category__lists__datas__data
                %li.body__pickup__indexes__categories__category__lists__datas__data__price
                  20,000円
                %li.body__pickup__indexes__categories__category__lists__datas__data__likes
                  %li.body__pickup__indexes__categories__category__lists__datas__data__likes__like
                    %i.fas.fa-star 
                      0
              %p.body__pickup__indexes__categories__category__lists__datas__data__tax
                税込
        .body__pickup__indexes__categories__category
          = image_tag("egg.png", size: "184x184")
          .body__pickup__indexes__categories__category__lists
            .body__pickup__indexes__categories__category__lists__name
              魅惑的な
            .body__pickup__indexes__categories__category__lists__datas
              %ul.body__pickup__indexes__categories__category__lists__datas__data
                %li.body__pickup__indexes__categories__category__lists__datas__data__price
                  20,000円
                %li.body__pickup__indexes__categories__category__lists__datas__data__likes
                  %li.body__pickup__indexes__categories__category__lists__datas__data__likes__like
                    %i.fas.fa-star 
                      0
              %p.body__pickup__indexes__categories__category__lists__datas__data__tax
                税込
  


  .footer
    .footer__image
      .footer__image__decorate
        .footer__image__decorate__left
          .footer__image__decorate__left__upper
            スマホでかんたんフリマアプリ
          .footer__image__decorate__left__middle
            今すぐ無料ダウンロード！
          .footer__image__decorate__left__below
            = link_to 'https://apps.apple.com/jp/app/id667861049?l=ja', class: "appstore" do
              = image_tag 'appstore.svg', size: '170x52'
            = link_to 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class: "googleplay" do
              = image_tag 'googleplay.svg', size: '170x52'
        .footer__image__decorate__right
    .footer__box
      .footer__box__upper
        .footer__box__upper__1
          %b FURIMAについて
          = link_to "" do
            %p 会社概要（運営会社）
          = link_to "" do
            %p プライバシーポリシー
          = link_to "" do
            %p FURIMA利用規約
          = link_to "" do
            %p ポイントに関する特約
        
        .footer__box__upper__2
          %b FURIMAを見る
          = link_to "" do
            %p カテゴリー一覧
          = link_to "" do
            %p ブランド一覧
          
        .footer__box__upper__3
          %b ヘルプ＆ガイド
          = link_to "" do
            %p FURIMAガイド
          = link_to "" do
            %p FURIMAロゴ利用ガイドライン
          = link_to "" do
            %p お知らせ

      .footer__box__below
        .footer__box__below__1
          = link_to image_tag("logo-white.png", size: '700x36')          
        .footer__box__below__2
        .footer__box__below__3
          © FURIMA
                  
