.sell
  %header.sell-header
    = link_to image_tag("logo.png", size: '140x40'), root_path
.mainpurchase
  %section.mainpurchase-top
    %h2.mainpurchase-top-title 購入内容の確認
    %section.mainpurchase-top-buy
      .mainpurchase-top-buy-item
        .mainpurchase-top-buy-item-box
          %h3.mainpurchase-top-buy-item-box-image
            = image_tag(@item.images.first.url.url.to_s ,size: "80x80")
          .mainpurchase-top-buy-item-box-detail
            %p.mainpurchase-top-buy-item-box-detail-name 
              =@item.name
            %p.mainpurchase-top-buy-item-box-detail-jp
              %span
                ¥
                =@item.price
              %span.mainpurchase-top-buy-item-box-detail-jp-fee 
                （税込）
                =@item.trading_status
  %section.mainpurchase-price
    .mainpurchase-price-inner
      .mainpurchase-price-inner-item
        %ul.mainpurchase-price-inner-item-list
          %li.mainpurchase-price-inner-item-list-bold
            .mainpurchase-price-inner-item-list-bold-label 支払い金額
            .mainpurchase-price-inner-item-list-bold-cell 
              %span 
                ¥
                =@item.price
        %ul.mainpurchase-price-inner-item-point
          %li.mainpurchase-price-inner-item-point-parent
            %input.point__checkbox{type:"checkbox", value:"0"}
            %label ポイントを使用 (所持ポイント: P0)
  %section.mainpurchase-info
    .mainpurchase-info-pay
      %h3 支払い方法
      %p.mainpurchase-info-pay-text
        %i.fas.fa-check
        %span.mainpurchase-info-pay-text-reg 登録して下さい
  %section.mainpurchase-address
    .mainpurchase-address-inner
      .mainpurchase-address-inner-title
        %h3.mainpurchase-address-inner-title-left 配送先
        = link_to root_path, class:"mainpurchase-address-inner-title-right" do
          %span 変更する
      %address.mainpurchase-address-inner-from
        %br
        %p 
          〒
          =@item.user.post_code
        %br
          =@item.user.prefecture+@item.user.city+@item.user.address_name+@item.user.building_name
        %br
          =@item.user.address_first_name+@item.user.address_family_name
  %section.mainpurchase-button
    = link_to root_path, method: :post do
      購入する
  = render "compactfooter"