//ログアウトページマークアップ仮

=render "header"
.topbody__box__below
  .topbody__box__below__search
    .topbody__box__below__search__category             
      = link_to "カテゴリー"             
      = link_to "ブランド"
  = render 'headbottom'
%nav.mypagehed2
  %ul.mypagehed2-list
    %li.mypagehed2-list-item 
      = link_to root_path, class:"headmine" do
        フリマ
        %i.fas.fa-angle-right
    %li.mypagehed2-list-item 
      = link_to users_path, class:"headminenow" do
        マイページ
        %i.fas.fa-angle-right

.mypagemain
  =render "headleftmypage"
  .logout-right
    .logout-right-content
      = link_to destroy_user_session_path, method: :delete do
        ログアウト
      